<h1>Task Assignment</h1>
<p>Hi <%= @recipient.name %>,</p>
<p>You were assigned to a task in <strong><%= @organization.name %></strong>.</p>
<p><strong><%= @task.project.key %></strong> - <%= @task.title %></p>
